body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#opacity-slider, #color-slider {
    width: 80%;
    max-width: 300px;
    margin: 10px;
}

#masked-image {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}

@media screen and (max-width: 768px) {
    #opacity-slider, #color-slider {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    #opacity-slider, #color-slider {
        width: 95%;
    }

    #masked-image {
        max-width: 100%; /* Adjust the maximum width as needed for your design */
        width: auto; /* Allow the image to scale down proportionally */
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#opacity-slider, #color-slider, #brightness-slider {
    width: 80%;
    max-width: 300px;
    margin: 10px;
}

#masked-image {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    #opacity-slider, #color-slider, #brightness-slider {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    #opacity-slider, #color-slider, #brightness-slider {
        width: 95%;
    }
}
